@import "core";

// Base styles

:host ::ng-deep .nav-item {
  flex-grow: 0;
}

:host ::ng-deep cn-tabitem,
:host ::ng-deep cn-tabbox {
  display: flex;
  align-items: center;
}

:host ::ng-deep cn-tabitem:last-child,
:host ::ng-deep cn-tabbox:last-child {
  flex-grow: 1;

  .nav-item {
    flex-grow: 1;
  }

  .nav-link {
    width: 100%;
    text-align: left;
  }
}
