.fpca_llista_graficDestacat div {
    overflow: auto;
}
.fpca_llista_graficDestacat .grafic_destacat {
    padding: 0px 0px 10px 10px;
}
.fpca_llista_graficDestacat .grafic_destacat_cont {
    position: relative;
}
.fpca_llista_graficDestacat .destacat_imatge2_cont a {
    display: block;
}
.fpca_llista_graficDestacat .grafic_destacat_cont div {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 30% 1.05em 0.625em;
    color: #fff;
    background: -moz-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100% ); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(51,
    51, 51, 0) ), color-stop(100%, rgba(51, 51, 51, 1) ) );
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100% ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100% ); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100% ); /* IE10+ */
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0) 0%, rgba(51, 51, 51, 1) 100% ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00333333', endColorstr='#333333', GradientType=0 ); /* IE6-9 */
}
.fpca_llista_graficDestacat .col-sm-3 .grafic_destacat_cont h3 {
    font-size: 0.938em;
    font-weight: normal;
    margin: 0;
}
.fpca_llista_graficDestacat .col-sm-6 .grafic_destacat_cont h3 {
    font-size: 1.250em;
    font-weight: normal;
    margin: 0;
}
.col-sm-4 .fpca_llista_graficDestacat .col-sm-6 .grafic_destacat_cont h3, .col-sm-12 .fpca_llista_graficDestacat .col-sm-6 .grafic_destacat_cont h3 {
    font-size: 0.938em;
    font-weight: normal;
    margin: 0;
}
.fpca_llista_graficDestacat .grafic_destacat_cont a:hover h3, .grafic_destacat_cont a:hover h2 {
    text-decoration: underline;
}
.fpca_llista_graficDestacat .grafic_destacat_cont span {
    font-size: 0.688em;
    font-family: 'OpenSansRegular', Helvetica, Arial, sans-serif;
}
.fpca_llista_graficDestacat .grafic_destacat_cont p {
    font-size: 0.813em;
    font-family: 'OpenSansRegular', Helvetica, Arial, sans-serif;
    margin: 0;
}
.fpca_llista_graficDestacat .grafic_destacat_cont.grand h3, .grafic_destacat_cont.grand h2 {
    font-size: 1.250em;
    font-weight: bold
}
.fpca_llista_graficDestacat .mes_elements {
    text-align: right;
    padding-right: 15px;
}
.fpca_llista_graficDestacat .grafic_destacat_estil3 {
    /*padding-right: 2%;
    padding-left: 2%;*/
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 4%;
    background: #f5f5f5;
}
.fpca_llista_graficDestacat .grafic_destacat_estil3 a {
    font-size: 14px;
    font-weight: bold;
    padding-left: 11px;
}
.fpca_llista_graficDestacat .grafic_destacat_estil3 h4 {
    font-weight: bold;
    font-size: 1.250em;
    padding-left: 3%;
    padding-right: 3%;
}
.fpca_llista_graficDestacat .grafic_destacat_estil3 img {
    margin-top: 2%;
    margin-bottom: 0;
}
.fpca_llista_graficDestacat .grafic_destacat_estil3 p {
    font-size: 0.875em;
    margin-bottom: 0px;
    padding-left: 3%;
    padding-right: 3%;
}
.fpca_llista_graficDestacat .shadowBox.banners-contenidor-tramits.pd-30.pd-15 {
    margin: 0 10px;
}
.fpca_llista_graficDestacat .col-sm-8 .shadowBox.banners-contenidor-tramits.pd-30.pd-15 {
    margin: 0;
}
.fpca_llista_graficDestacat .basic_color.xar-socials .tit {
    font-size: inherit;
}
/********NOU CSS********/
.fpca_llista_graficDestacat .banners-contenidor-tramits .el_mes_consultat .panel {
    margin: 0;
    box-shadow: none;
    border-radius: 0;
}
.fpca_llista_graficDestacat .banners-contenidor-tramits .box {
    border: 1px solid #ddd;
    background: #f5f5f5;
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: 0;
}
.fpca_llista_graficDestacat .eixample-banners {
    margin-left: -15px;
    margin-right: -10px;
}
.fpca_llista_graficDestacat .banners-contenidor-tramits {
    margin-bottom: 30px;
}
.fpca_llista_graficDestacat .titol-banner-tramits {
    margin: 5px 0px 7px 0px;
}
.fpca_llista_graficDestacat .titol-banner-tramits a {
    font-size: 16px;
    font-family: 'OpenSansSemibold', Helvetica, Arial, sans-serif;
}
.fpca_llista_graficDestacat .cercador-banners-text p {
    padding: 11px;
    font-size: 14px;
}
.fpca_llista_graficDestacat .titol-banner-tramits p.cercador-banners-text {
    font-size: 14px;
}
.fpca_llista_graficDestacat .cercador-banners-text {
    padding: 13px;
}
.fpca_llista_graficDestacat .graficDestacat_estil3 div {
    overflow: initial;
}
.fpca_llista_graficDestacat .titol-banner-tramits .data-gd {
    color: rgb(102, 102, 102);
    font-family: OpenSansRegular, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    height: 17px;
    padding-left: 14px;
}
.fpca_llista_graficDestacat .titol-banner-tramits .link-banner {
    padding: 0px 13px 10px 13px;
}
.fpca_llista_graficDestacat h2 {
    font-size: 30px;
    font-family: 'OpenSansRegular', Helvetica, Arial, sans-serif;
    font-weight: normal;
    margin-bottom: .629em;
    margin-left: 10px
}
.fpca_llista_graficDestacat .basic_color.xar-socials p {
    font-size: inherit;
}
.fpca_llista_graficDestacat .basic_color p {
    font-size: inherit;
}
.fpca_llista_graficDestacat .basic_color span.small {
    font-size: 0.750em;
    font-family: 'OpenSansRegular', Helvetica, Arial, sans-serif;
}
@media (max-width: 750px) {
    .fpca_llista_graficDestacat h2 {
        color: #333;
        display: block;
        font-size: 16px;
        margin-left:0;
        font-family: 'OpenSansSemiBold', Helvetica, Arial, sans-serif;
    }
    .fpca_llista_graficDestacat {
        padding: 0 15px;
    }
    div#center_1R .fpca_llista_graficDestacat,
    div#center_2R .fpca_llista_graficDestacat,
    div#center_3R .fpca_llista_graficDestacat,
    div#center_4R .fpca_llista_graficDestacat,
    div#center_5R .fpca_llista_graficDestacat,
    div#center_6R .fpca_llista_graficDestacat,
    div#center_7R .fpca_llista_graficDestacat,
    div#center_8R .fpca_llista_graficDestacat,
    div#center_9R .fpca_llista_graficDestacat
    {
        padding: 0 30px;
        margin-right: -10px;
    }
    #center_2_1R .fpca_llista_graficDestacat {
        padding-right: 5px;
    }

    #center_2_2R .fpca_llista_graficDestacat .grafic_destacat {
        padding-right: 5px;
        padding-left: 5px;
    }

    #center_2_2R .fpca_llista_graficDestacat  {
        margin-left: -5px;
        margin-right: -5px;
    }
    #center_2R .fpca_llista_graficDestacat .graficDestacat_generic{
        margin-left: 2%;
    }
    #center_2_2R .fpca_llista_graficDestacat .graficDestacat_generic h2{
        margin-left: 5px;
    }
    .fpca_llista_graficDestacat .grafic_destacat.shadowBox {
        padding: 10px 0;
    }
    .fpca_llista_graficDestacat .grafic_destacat.col-sm-6.col-xs-12 {
        padding: 10px 0;
    }
    .fpca_llista_graficDestacat .grafic_destacat.col-xs-6.col-sm-3.shadowBox {
        padding: 10px 10px 10px 0;
    }
}
