<article #article [ngClass]="[state, view]" class="post">
  
  <!-- Post header -->
  
  <header class="post-header">
    <h1>
      <a (click)="toggle(); false" href="#" class="title">
        {{ post.title }}
      </a>
      <a [href]="post.url" class="permalink" target="_blank"
         title="Permalink" i18n-title>
        <cn-icon value="link"></cn-icon>
      </a>
    </h1>
    <div role="contentinfo" class="metadata">
      <a [routerLink]="['/authors', post.author.id]" rel="author">
        {{ post.author.name }}
      </a>
      <time [attr.datetime]="post.published_at"
            [title]="format(post.published_at)">
        {{ fromNow(post.published_at) }}
      </time>
    </div>
  </header>
  
  <!-- Post contents -->
  
  <div class="post-container">
    <figure class="post-image">
      <div class="post-image-wrapper">
        <img *ngIf="post.image_url" [src]="post.image_url"
             alt="Post image" i18n-alt>
      </div>
      <figcaption>
        <a [href]="post.url" target="_blank">
          {{ post.title }}
        </a>
      </figcaption>
    </figure>
    <div *ngIf="state === 'closed'"
         [innerHTML]="post.excerpt"
         class="post-extract">
    </div>
    <div *ngIf="state === 'open'"
         [innerHTML]="post.content"
         class="post-content">
    </div>
    <div class="post-tags">
      <ul>
        <li *ngFor="let tag of post.tags; trackBy: trackById">
          <a [routerLink]="['/tags', tag.slug]">
            {{ tag.name }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- Post footer -->
  
  <footer role="contentinfo" class="post-footer">
  
    <!-- Post comments -->
    
    <cn-expandable #commentExp>
      <div class="comments-wrapper">
        <sy-comment-board></sy-comment-board>
      </div>
    </cn-expandable>
    
    <!-- Post actions -->
    
    <div class="post-actions">
      <div class="post-social">
        <button (click)="toggleLike()"
            type="button"
            title="Like" i18n-title
            class="btn btn-sm btn-light like-button"
            [ngClass]="{ packed: post.reaction?.liked }">
          <cn-icon value="heart"></cn-icon>
          <span>{{ post.like_count || null }}</span>
        </button>
        <button (click)="toggleFavorite()"
            type="button"
            title="Favorite" i18n-title
            class="btn btn-sm btn-light bookmark-button"
            [ngClass]="{ packed: post.reaction?.favourited }">
          <cn-icon value="bookmark"></cn-icon>
          <span>{{ post.favourite_count || null }}</span>
        </button>
        <button [cnMenu]="shareMenu"
            type="button"
            title="Share" i18n-title
            class="btn btn-sm btn-light share-button">
          <cn-icon value="share"></cn-icon>
        </button>
        <cn-menu #shareMenu>
          <cn-menuitem icon="twitter"
            (click)="shareOnTwitter()">
            Share on Twitter
          </cn-menuitem>
          <cn-menuitem icon="facebook"
            (click)="shareOnFacebook()">
            Share on Facebook
          </cn-menuitem>
          <cn-menuitem icon="envelope"
            (click)="shareByEmail()">
            Share by email
          </cn-menuitem>
          <cn-menuitem
            (click)="shareOnNodes()">
            Publish on NODES
          </cn-menuitem>
        </cn-menu>
        <button type="button"
            title="Comment" i18n-title
            [cnExpandable]="commentExp"
            [ngClass]="{ packed: post.reaction?.commented }"
            class="btn btn-sm btn-light comment-button">
          <cn-icon value="comment"></cn-icon>
          <span *ngIf="post.comment_count > 0">
            {{ post.comment_count }} <span i18n>comments</span>
          </span>
          <span *ngIf="post.comment_count < 1" i18n>
            Comment
          </span>
        </button>
      </div>
      <div class="back-to-top">
        <button (click)="scrollTop(); false"
           title="Back to top" i18n-title
           class="btn btn-sm btn-link">
          <cn-icon value="arrow-circle-o-up"></cn-icon>
        </button>
      </div>
    </div>
  </footer>
</article>
