<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /es/embed

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /es/embed/index.html [L]
</IfModule>
