<section>

  <!-- Results table -->
  
  <div [hidden]="state == 'empty' || state == 'error'">
    <app-tags-table
      [sort]="request.sort"
      [tags]="collection"
      (sortChange)="sort($event.values)"
      (deleteRow)="remove($event)"
      (editRow)="editOrCreate($event)"
      (restoreRow)="restore($event)">
    </app-tags-table>
  </div>
  
  <!-- Pagination -->
  
  <cn-pagination
    [collection]="collection"
    (pageChange)="page($event)">
  </cn-pagination>
  
  <!-- Status message -->
  
  <app-state [state]="state"></app-state>
  
  <!-- Progress backdrop -->
  
  <div [hidden]="state != 'pending'" class="backdrop">
    <cn-spinner></cn-spinner>
  </div>

</section>