<main class="page-content">
  
  <!-- Page header -->
  
  <div class="page-header">
    <div class="container">
      
      <!-- Header -->
      
      <header>
        <h1 class="brand-name" i18n>
          <strong>sinapsi</strong>.xtec.cat
        </h1>
        <div role="contentinfo">
          <p i18n><strong>Sinapsi</strong> collects the news published by the
          Catalan educational centers on their websites. Makes visible most of
          the work developed by the centers and seeks to promote synergies
          between them.</p>
        </div>
      </header>
      
      <!-- Synapse search form -->
      
      <aside role="search">
        <app-search
          (search)="search($event)"
          [value]="request.search">
        </app-search>
        
        <app-search-toolbar
          (input)="filter($event)"
          [value]="request">
        </app-search-toolbar>
      </aside>
      
    </div>
  </div>
  
  <!-- Contents -->
  
  <section class="page-section">
    <div class="page-body container">
      <div class="row">
        <div class="col-lg-8">
          <app-posts-browser
            [synapse]="synapse"
            [sections]="sections">
          </app-posts-browser>
        </div>
        <div class="col-lg-4">
          <aside role="complementary" class="synapse-blocks">
            <app-sidebar [blocks]="blocks"></app-sidebar>
          </aside>
        </div>
      </div>
    </div>
  </section>
</main>
