<main class="page-content">
  
  <!-- Page header -->
  
  <div class="page-header">
    <div class="container">
      
      <!-- Header -->
      
      <header>
        <h1 class="brand-name">
          <strong>sinapsi</strong>.xtec.cat
        </h1>
        <p role="contentinfo" i18n>
          <strong>Sinapsi</strong> collects the news published by the Catalan
          educational centers on their websites. Makes visible most of the work
          developed by the centers and seeks to promote synergies between them.
        </p>
      </header>
      
      <!-- Synapse search form -->
      
      <aside role="search">
        <app-search
          (search)="onSearch($event)"
          [value]="browser.search">
        </app-search>
      </aside>
      
    </div>
  </div>
  
  <!-- Contents -->
  
  <section class="page-section">
    <div class="page-body container">
      <div class="row">
        <div class="col-lg-8">
          <app-posts-browser #browser
            [synapse]="synapse">
          </app-posts-browser>
        </div>
        <div class="col-lg-4">
          <aside role="complementary" class="synapse-blocks">
            <div class="mock-up">@SynapseManager</div>
            <app-sidebar [blocks]="blocks"></app-sidebar>
          </aside>
        </div>
      </div>
    </div>
  </section>
</main>
