@import "core";

// Base styles

.navbar {
  padding: 0;
  
  .container {
    flex-wrap: wrap;
    position: relative;
  }
  
  @include media-breakpoint-up(sm) {
    border-bottom: 4px solid th-color('white');
  }
}

.navbar-nav {
  .nav-link {
    color: th-color('white');
  }

  .nav-item {
    font-weight: 600;
  }
}

.navbar-toggler {
  border: 0;
  font-size: 1rem;
  margin: 0.5rem;
  
  &:hover, &:focus, &:active {
    background: rgba(255, 255, 255, 0.1);
  }
}

.nav-link {
  cursor: pointer;
  width: 100%;
  text-align: left;
}


// Navigation links on small devices

@include media-breakpoint-down(xs) {
  .brand-name {
    padding-right: 2.8rem;
  }
  
  .navbar-brand {
    flex: 1;
    text-align: center;
    font-size: 1.6rem;
    font-family: th-font-family('heading');
    font-weight: 300;
    margin: 0 1rem;
    padding: 0;
  }
  
  .main-navbar > .nav-item {
    border-bottom: 1px solid th-gray('400');
    
    .nav-link {
      padding: 10px;
      margin-left: 10px;
      color: th-color('white');
    }
    
    &, &.active > .nav-link {
      background: linear-gradient(
        to bottom, #6d6d6d 0, #5e5e5e 100%);
    }
    
    &.active {
      background: linear-gradient(
        to bottom, #a3a3a3 0, #787878 100%);
    }
    
    &:hover, &:focus, & > .nav-link:hover, & > .nav-link:focus {
      background: linear-gradient(
        to bottom, #a7a7a7 0, #787878 100%);
    }
  }
  
  .main-navbar > .nav-item .nav-item {
    background: th-gray('background');
    
    .nav-link {
      color: th-gray('text');
      border-top: 1px solid th-gray('divider');
      font-weight: 400;
    }
    
    .nav-link:hover, .nav-link:focus {
      font-weight: 600;
    }
  }
  
  .main-navbar ::ng-deep .cn-details-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
    padding: 10px 15px 10px 10px;
    color: th-color('white');
    
    &:active, &:focus {
      background: linear-gradient(
        to bottom, #a7a7a7 0, #787878 100%);
    }
    
    .cn-details-summary {
      flex: 1;
    }
    
    .cn-details-marker {
      display: inline !important;
    }
  }
  
  .main-navbar ::ng-deep .cn-details.closed {
    .cn-details-marker {
      color: th-gray('200');
    }
  }
}


// Navigation links on medium to large devices

@include media-breakpoint-up(sm) {
  .navbar-collapse {
    margin-top: .55rem;
    flex-basis: 100%;
  }
  
  .brand-name {
    display: none;
  }
  
  .navbar-brand {
    background-image: url('/assets/images/logo.png');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 170px 27px;
    height: 27px;
    width: 186px;
    min-width: 186px;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
  
  .navbar-nav .nav-item {
    border-left: 1px solid th-color('white');
    
    &.active .nav-link {
      color: th-gray('800');
      background-color: th-color('white');
    }
  }
  
  .navbar-nav .nav-link {
    padding: 0.5rem 1.15rem;
    line-height: 1.25;
    
    &:hover {
      color: th-gray('800');
      background-color: th-gray('400');
    }
    
    &:focus {
      text-decoration: underline;
    }
  }
  
  // WA: Force the expandable to show open even when collapsed
  
  #toolbar-links, :host ::ng-deep .cn-expandable-wrapper {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
  }
}


// Authentication links

.user-avatar {
  border-radius: 100%;
  margin-right: .5rem;
  height: 24px;
  width: 24px;
}

.user-navigation {
  margin-left: auto;
  
  a, .btn-link {
    display: inline-block;
    color: #eee;
    cursor: pointer;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: .02rem;
    line-height: 1.5rem;
    max-width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
  }
  
  a:focus, .btn-link:focus {
    text-decoration: none;
    outline: 1px dotted;
  }
  
  a:hover, .btn-link:hover {
    text-decoration: none;
  }
  
  a span, .btn-link span {
    border-bottom: 1px dotted;
  }
  
  .user-avatar {
    width: 16px;
    height: 16px;
  }
}

@include media-breakpoint-down(sm) {

  .user-navigation {
    margin: .7rem 15px;
    position: absolute;
    right: 0;
    top: 0;
    
    a {
      padding: 0;
    }
  }

}
