<div class="page-navigation">
  <div class="container">
    <cn-breadcrumb></cn-breadcrumb>
    <app-social-links [synapse]="synapse"></app-social-links>
  </div>
</div>
<article *ngIf="synapse" class="page-content">
  
  <!-- Header -->
  
  <div class="page-header">
    <div class="container">
      <header>
        <h1>{{ synapse.name }}</h1>
        <div role="contentinfo" [innerHTML]="synapse.description"></div>
      </header>
      
      <!-- Synapse search form -->
      
      <aside role="search">
        <app-search
          (search)="search($event)"
          [value]="request.search">
        </app-search>
        
        <app-search-toolbar
          (input)="filter($event)"
          [value]="request">
        </app-search-toolbar>
      </aside>
      
    </div>
  </div>
  
  <!-- Contents -->
  
  <section class="page-section">
    <div class="page-body container">
      <div class="row">
        <div class="col-lg-8">
          <app-posts-browser
            [synapse]="synapse"
            [sections]="sections">
          </app-posts-browser>
        </div>
        <div class="col-lg-4">
          <aside role="complementary" class="synapse-blocks">
            <ng-container *appIfCan="['update-author', synapse.author]">
              <div class="admin-block card p-3 mb-3">
                <a [routerLink]="['/editors/authors', synapse.author.id]">
                  <cn-icon value="edit"></cn-icon>
                  <span class="sh" i18n>Edit project</span>
                </a>
              </div>
            </ng-container>
            <app-sidebar [blocks]="blocks"></app-sidebar>
          </aside>
        </div>
      </div>
    </div>
  </section>
</article>

<!-- Error message -->

<ng-container *ngIf="state === 'empty'">
  <app-errors code="404"></app-errors>
</ng-container>
