<fieldset #fieldset [formGroup]="form" (focusout)="_onBlur($event)" tabindex="-1">
  <div class="form-wrapper">
    
    <!-- Filters tabs -->
    
    <div class="search-tabs">
      <cn-tabs [(value)]="tab">
        <cn-tabitem *ngFor="let item of fields" [value]="item.id">
          <div class="search-tab-title">
            <span>{{ item.name }}</span>
            <span *ngIf="countValue(item.id) > 0"
                  class="badge badge-pill badge-secondary">
              {{ countValue(item.id) }}
            </span>
          </div>
        </cn-tabitem>
        <cn-tabitem value="published_at">
          <div class="search-tab-title">
            <span i18n>Publish date</span>
            <span *ngIf="hasDateValues()"
                  class="badge badge-pill badge-secondary">
              1
            </span>
          </div>
        </cn-tabitem>
        <cn-tabitem value="sort">
          <div class="search-tab-title">
            <span i18n>Order by</span>
            <span *ngIf="form.get('sort').value"
                  class="badge badge-pill badge-secondary">
              1
            </span>
          </div>
        </cn-tabitem>
      </cn-tabs>
    </div>
    
    <div class="tabs-outlet search-filters">

      <!-- Typeahead filter forms -->
      
      <ng-container *ngFor="let item of fields">
        <div *ngIf="tab === item.id">
          <span class="filter-icon">
            <cn-icon value="search"></cn-icon>
          </span>
          <app-multiselect
            [path]="item.path"
            [filters]="item.filters"
            [formControlName]="item.id"
            (input)="submit(form.value)"
            i18n-placeholder>
          </app-multiselect>
        </div>
      </ng-container>
      
      <!-- Date interval filters -->
      
      <div *ngIf="tab === 'published_at'">
        <fieldset class="date-interval form-group">
          <legend class="col-form-label">
            <span i18n>Published at</span>
          </legend>
          
          <ng-container *ngFor="let item of intervals">
            <div class="custom-control custom-radio">
              <input
                type="radio"
                name="date-interval"
                [id]="'interval-filter-' + item.id"
                [checked]="item === interval"
                (input)="applyInterval(item); $event.stopPropagation()"
                (change)="submit(form.value); $event.stopPropagation()"
                class="custom-control-input">
              <label class="custom-control-label"
                [for]="'interval-filter-' + item.id">
                {{ item.name }}
              </label>
            </div>
          </ng-container>
        </fieldset>

        <fieldset class="date-range form-group">
          <legend class="col-form-label">
            <span i18n>Between two dates</span>
          </legend>

          <div class="d-flex flex-row">
            <label class="form-container-label">
              <span i18n>Published after</span>
              <app-datepicker #after
                [value]="form.get('after').value"
                (input)="clearInterval()">
              </app-datepicker>
            </label>

            <label class="form-container-label">
              <span i18n>Published before</span>
              <app-datepicker #before
                [value]="form.get('before').value"
                (input)="clearInterval()">
              </app-datepicker>
            </label>

            <button
              (mousedown)="applyDateRange(after.value, before.value)"
              (click)="submit(form.value)"
              title="Apply date range" i18n-title
              class="btn btn-secondary-light">
              <cn-icon value="search"></cn-icon>
              <span class="sr-only" i18n>Apply</span>
            </button>
          </div>
        </fieldset>
      </div>

      <!-- Results order filter -->

      <div *ngIf="tab === 'sort'">
        <fieldset class="ordering form-group">
          <legend class="col-form-label">
            <span i18n>Results ordering</span>
          </legend>
          
          <ng-container *ngFor="let item of orderings">
            <div class="custom-control custom-radio">
              <input
                type="radio"
                name="ordering"
                [id]="'ordering-filter-' + item.id"
                [checked]="item === ordering"
                (input)="applyOrdering(item); $event.stopPropagation()"
                (change)="submit(form.value); $event.stopPropagation()"
                class="custom-control-input">
              <label class="custom-control-label"
                [for]="'ordering-filter-' + item.id">
                {{ item.name }}
              </label>
            </div>
          </ng-container>
        </fieldset>
      </div>

    </div>
  </div>
</fieldset>