<div class="btn-group" aria-label="Share this page">
  <!-- Twitter -->
  
  <button
    (click)="shareOnTwitter()"
     title="Share on Twitter" i18n-title
     class="btn btn-sm btn-link twitter">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-stack-1x fa-inverse fa-twitter"></i>
    </span>
  </button>
  
  <!-- Facebook -->
  
  <button
    (click)="shareOnFacebook()"
     title="Share on Facebook" i18n-title
     class="btn btn-sm btn-link facebook">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-stack-1x fa-inverse fa-facebook"></i>
    </span>
  </button>
  
  <!-- Email -->
  
  <button
    (click)="shareByEmail()"
     title="Share by email" i18n-title
     class="btn btn-sm btn-link email">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-stack-1x fa-inverse fa-envelope-o"></i>
    </span>
  </button>
  
  <!-- RSS feed -->
  
  <button
    (click)="showFeed()"
     title="Web syndication" i18n-title
     class="btn btn-sm btn-link feed">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-stack-1x fa-inverse fa-feed"></i>
    </span>
  </button>
</div>