<div class="page-navigation">
  <div class="container">
    <cn-breadcrumb></cn-breadcrumb>
    <app-social-links [synapse]="synapse"></app-social-links>
  </div>
</div>
<article *ngIf="synapse" class="page-content">
  
  <!-- Header -->
  
  <div class="page-header">
    <div class="container">
      <header>
        <h1>{{ synapse.name }}</h1>
        <p role="contentinfo" [innerHTML]="synapse.description"></p>
      </header>
      
      <aside role="search">
        <app-search
          (search)="onSearch($event)"
          [value]="browser.search">
        </app-search>
      </aside>
    </div>
  </div>
  
  <!-- Contents -->
  
  <section class="page-section">
    <div class="page-body container">
      <div class="row">
        <div class="col-lg-8">
          <app-posts-browser #browser
            [synapse]="synapse">
          </app-posts-browser>
        </div>
        <div class="col-lg-4">
          <aside role="complementary" class="synapse-blocks">
            <div class="mock-up">@SynapseManager</div>
            <app-sidebar [blocks]="blocks"></app-sidebar>
          </aside>
        </div>
      </div>
    </div>
  </section>
</article>