@import "core";

// Base styles

.tabs-outlet {
  border-width: 0 1px 1px 1px;
  border-color: th-gray('divider');
  border-style: solid;
  min-height: 30rem;
  padding: 1rem;
}


// Gallery view

::ng-deep .posts-catalog.gallery {
  .posts-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
  }
  
  app-post-details {
    flex-basis: 100%;
    
    @include media-breakpoint-up(sm) {
      flex-basis: 50%;
    }
    
    @include media-breakpoint-up(md) {
      flex-basis: 33%;
    }
  }
}

