@import "core";

// Base styles

.tabs-outlet {
  border-width: 0 1px 1px 1px;
  border-color: th-gray('divider');
  border-style: solid;
  min-height: 30rem;
  padding: .5rem;
  
  @include media-breakpoint-up(sm) {
    padding: 1rem;
  }
}


// Tabs

.post-browser-tabs {
  @include media-breakpoint-down(lg) {
    ::ng-deep .nav-link {
      font-size: 95%;
    }
  }
  
  .view-picker-wrapper ::ng-deep .nav-item {
    text-align: right;
  }
}


// Gallery view

::ng-deep .posts-catalog.gallery {
  .posts-table {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem 0;
  }
  
  app-post-details {
    flex-basis: 50%;
    
    @include media-breakpoint-up(md) {
      flex-basis: 33%;
    }
  }
}

