<section>

  <!-- Results table -->
  
  <div [hidden]="state == 'empty' || state == 'error'">
    <synapses-table
      [sort]="request.sort"
      [synapses]="collection"
      (sortChange)="sort($event.values)">
    </synapses-table>
  </div>
  
  <!-- Pagination -->
  
  <cn-pagination
    [collection]="collection"
    (pageChange)="page($event)">
  </cn-pagination>
  
  <!-- Status message -->
  
  <app-state [state]="state"></app-state>
  
  <!-- Progress backdrop -->
  
  <div [hidden]="state != 'pending'" class="backdrop">
    <cn-spinner></cn-spinner>
  </div>

</section>