.basic_color.xar-socials.sns-gris{
    background-color: #ececec;
}

.basic_color.xar-socials.sns-gris h3 {
    color:#333333;
}
.basic_color.xar-socials.sns-gris p {
    color:#555555;
}

.basic_color.xar-socials.new {
    background-color:white;
    border:3px dotted black;
}

.basic_color.xar-socials.new h3 {
    color:#333333;
}
.basic_color.xar-socials.new p {
    color:#555555;
}

.basic_color.xar-socials {
    margin: 0 0 .8em;
}

.sns-block-trash-white {
    color:white;
    position:absolute;
    top:5px;
    right: 5px;
    cursor: pointer;
    z-index: 9999;
}

.sns-block-trash {
    color:grey;
    position:absolute;
    top:5px;
    right: 5px;
    cursor: pointer;
    z-index: 9999;
}


.sns-block-container{
    padding:0;
    border:0px;
    position:relative;
    margin:5px 0;
}