
.cercador_vermell .form-group {
    clear: both;
}

.fpca_subcapcalera{
    margin-top:0.5em;
}

.capcelera_basica_cont .filariana{
    margin-top:0;
    margin-bottom:0;
}

.fpca_subcapcalera .capcelera_basica_cont h1{
    padding-top:0;
}

.capcelera_basica{
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#appliedFilters{
    margin:0;
}

.form .sns-date{
    border:1px solid #CFCFCF;
    color: #B3B1A9 !important;
    height: 35px;
}

header .container .dos form .form-group .btn {
    background-color:red;
    background: url(../img/NG_ico_cercador_mbl.png) no-repeat center center #fff;
}

.div-search-info{
    margin-top: 5px;
    margin-left: -10px;
}

.adv-control{
    margin-bottom:2px;
    padding:2px;
}

#advanced-search{
    margin: 0;
}

.cerca-av{
    text-align: right;
}

.cerca-av a{
    color:#888;
}

#advanced-search .row{
    margin-top:5px;
}