a.sns-sinapsi-title {
    padding:0;
    font-family: 'OpenSansRegular', Arial, sans-serif;
    text-decoration: none !important;
}

a.sns-sinapsi-title h1 {
    color: #BF0000;
}

a.sns-sinapsi-title .sns-sinapsi-title-tag {
    font-size:0.7em;
    color:#666;
}

.sns-sinapsi-logo {
    object-fit: cover;
    object-position: center;
    height: 100px;
    width: 100px;
    margin: 0 10px;
}

div.sinapsi_description img {
    padding: 0 10px 10px 0;
}

.sns-sinapsi-description
{
    display: flex;
    align-items: center;
    padding: 0.5em;
    padding-top: 0;
}

img.imageTable{
    max-width: 30px;
}
