
h1.sns-home-title{
    font-size: 3em !important;
    color: #BF0000;
    padding:0;
    font-family: 'Helvetica','OpenSansRegular',sans-serif;
    font-weight: 600;
}

span.sns-domain{
    font-weight: 100;
    color:#BF0000;
}

.pagination>li>a,
.pagination>li>span{
    border:0;
}


div.basic_text_peq ul li:before {
    content: "";
    margin: 0;
}

.fpca_llista_graficDestacat .grafic_destacat_estil3 a {
    font-size: 18px !important;
}

.fade-transition{
    transition: all 1s ease;
    opacity:100;
}

.fade-enter, .fade-leave{
    opacity: 0;
}

.llistat_enllacos_filet_cont {
    padding: 0em 0.875em .875em 0.875em;
}

li.list-group-item.node-sinapsi-tree.node-selected {
    background-color: #bf0000 !important;
}

div.sns-error{
    margin: 2em 10%;
}

.filariana.sns-breadcrumbs a{
    color:#555 !important;
    background-color: transparent !important;
}

nav ul.nav.sns-account li {
    border:0px !important;
}

nav ul.nav.sns-account li > a {
    font-family: 'OpenSans',Helvetica,Arial,sans-serif;
}

.sns-entity-logo {
    object-fit: cover;
    object-position: center;
    height: 100px;
    width: 100px;
    margin: 0 10px;
}

.lbl-filter{
    background-color: #ddd;
    padding:0px 3px;
    border-radius: 3px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #555;
    background-color: #FFF;
}

.sns-label-sinapsi {
    background-color: #BF0000;
    border-radius: 0;
    font-size:16px;
}

.btn-primary {
    color: #fff;
    background-color: #C00000;
}

.btn-primary:hover {
    color: #fff;
    background-color: #C00000;
    opacity: 0.8;
}

.sns-btn-save{
    width:100px;
}

ul.sns-stats{
    list-style-type: none;
    margin-top:20px;
}

ul {
    list-style: disc;
}
.contest-bar-post{
    text-align: center;
}

.contest-btn{
    margin:1em;
}

h1.title-subpage{
	text-align: inherit;
	margin-bottom: 10px;
}

@media (min-width: 768px) {
    .navbar-nav.navbar-right.account:last-child {
        padding-top: 1em !important;
	}
}

.navbar-login {
    width: 150px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.fpca_capcalera a.mvlogo {
    background: none;
    text-align: center;
    height: auto;
    color: white;
    font-weight: bold;
    margin: 1em auto 1em;
}

.mvlogo {
    vertical-align: middle;
    width: 100%;
    display: block;
}

.capcelera_basica h1 {
    padding-top: 0.2em;
    padding-bottom: 0.500em;
    font-size: 2.188em;
    padding-left: 0;
    font-family: 'OpenSansRegular';
}

.form-control {
	background-color: #FFFFFF;
	color: inherit;
}

select.form-control{
	-webkit-appearance:menulist;
}

@media (min-width: 768px)

	.navbar-form.cercador_vermell {
		width:100% !important;
	}

.capcelera_basica .cercador_vermell .form-group .form-control {
		width: 100%;

}
.capcelera_basica_cont h1 {
    padding-top: .2em;
    padding-bottom: 0em;
}

.capcelera_basica .cercador_vermell {
    padding: 10px 0 20px;
}

.capcelera_principal {
		margin-top: 1.5em;
}

img.avatar{
	width: 30px;
	height: 30px;
	float:left;
	margin-right:10px;
	margin-top:-8px;
}

.sns-comment img.sns-avatar{
    border-radius: 25px;
    width: 50px;
    height: 50px;
    padding:2px;
}
.sns-comment a.sns-user-name{
    font-size:12px;
}

.thumbnail.avatar{
	width: 100px;
	height:100px;
	border-radius: 0px;
}

.sns-post-thumb{
    object-fit: cover; 
    object-position: center;
    height: 150px;
    width: 150px;
    margin: 0 10px;
}


.sns-gallery-thumb{
    object-fit: cover; 
    object-position: center;
    height: 250px;
    width: 250px;
    margin: 0 10px;
}


.sns-post-thumb-small{
    object-fit: cover;
    object-position: center;
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

.inline{
	display:inline;
}

#contest_score_btn {
     cursor:pointer;
}

.sns-sticky {
    background-color: #bf0000;
    border-radius: 50px;
    padding: 6px;
    color: #fff;
    font-size: 1.3em;
    top: 10px;
}

.post.container img {
  display:inline;
  max-width:800px;
  max-height:800px;
  width: auto;
  height: auto;
}

.label.label-white{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: normal;
}

.media-body, .media {
	overflow: visible;
}

.media-body {
    padding-right:10px;
}

ul.dropdown-menu {
    background: white;
    font-size: 14px;
}

.dropdown-menu>li>a.red{
	color:red;
}

div.buttons .btn {
    border:0px;
}

div.buttons{
    margin:5px 0;
}

span.label:hover{
    background-color:#e6e6e6;
    color:#333;
}

span.label a{
    text-decoration: none;
}

.big {
	font-size:1.1em;
}

.multiselect__tag {
    color: #666;
    background: #eee;
}

.sns-btn-selector{
    float:right;
    top: 6px;
    right: 10px;
}

.sns-btn-selector button{
    background-color:transparent;
    border:0;
    padding:5px;
}

.sns-btn-selector button span {
    color:#a7a7a7;
    font-size:12px;
    padding: 0;
}

ul li a{
    color: #C00000;
    text-decoration: none;
}

ul li a:hover{
    color: #C00000;
    text-decoration: underline;
}

/* ==========================================================================
Block
========================================================================== */
.sns-block-container{
    padding:0;
    border:0px;
    position:relative;
    margin:5px 0;
}

.basic_color.xar-socials.sns-gris{
    background-color: #ececec;
}

.basic_color.xar-socials.sns-gris h3 {
    color:#333333;
}
.basic_color.xar-socials.sns-gris p {
    color:#555555;
}

/* Overwrite gencat/grafic_destacat.css */
.fpca_llista_graficDestacat .grafic_destacat {
    padding: 0px 0px 5px 0px;
}

.fpca_llista_graficDestacat .grafic_destacat h3 {
        display: inherit;
        font-size: inherit;
        -webkit-margin-before: inherit;
        -webkit-margin-after: inherit;
        -webkit-margin-start: inherit;
        -webkit-margin-end: inherit;
        font-weight: inherit;
        margin: initial;
        padding: initial;
        color: inherit;
        line-height: inherit;
}

/* ==========================================================================
Scroll top button
========================================================================== */

.scrolltop {
    display:none;
}
.scroll {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 15px;
    bottom: 15px;
    cursor: pointer;
    z-index: 9990;
    background: url(../img/SNS_NG_backtop_up.png) no-repeat center center rgba(0,0,0,0.8);
    border: none;
    border-radius: 50%;
    padding:20px;
    text-align: center;
    margin: 0 0 0 0;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}

/* ==========================================================================
Reader
========================================================================== */
.new_post td{
    background-color: #bf0000;
}

.new_post a{
    color:white;
}

.separator td{
    background-color: #b1b1b1;
}

