<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /sinapsi/ca/embed/
  RewriteRule ^(images/.+)$ /sinapsi/$1 [L]
  RewriteRule ^(manifest\.json)$ /sinapsi/$1 [R=301,L]
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.html [L]
</IfModule>
