<IfModule mod_rewrite.c>
    RewriteEngine On

    # Environment descriptors
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(environment\.json)$ index.php [END]
    RewriteRule ^(manifest\.json)$ index.php [END]

    # Frontend applications
    RewriteRule ^(ca|en|es)/(embed/)?(index\.html)$ - [END]
    RewriteRule ^(ca|en|es)/(embed/)?(images/.+)$ /$3 [R=301,L]
    RewriteRule ^(ca|en|es)/(embed/)?(environment\.json)$ /$3 [R=301,L]
    RewriteRule ^(ca|en|es)/(embed/)?(manifest\.json)$ /$3 [R=301,L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(ca|en|es)(/embed)?/.*$ /$1$2/index\.html [END]

    # Redirect routes to the frontend
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !^/(api)(/.*)?$
    RewriteCond %{REQUEST_URI} !^/(accounts)(/.*)?$
    RewriteCond %{REQUEST_URI} !^/(feeds)(/.*)?$
    RewriteCond %{REQUEST_URI} !^/(_debugbar)(/.*)?$
    RewriteRule ^(.*)$ /ca/$1  [L,R=301]
    RewriteRule ^$ /ca/        [L,R=301]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
