<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /sinapsi

    # Redirect routes to the frontend
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_URI} !^/sinapsi/(api)(/.+)?$
    RewriteCond %{REQUEST_URI} !^/sinapsi/(accounts)(/.+)?$
    RewriteCond %{REQUEST_URI} !^/sinapsi/(feeds)(/.+)?$
    RewriteCond %{REQUEST_URI} !^/sinapsi/(images)(/.+)?$
    RewriteCond %{REQUEST_URI} !^/sinapsi/(_debugbar)(/.+)?$
    RewriteCond %{REQUEST_URI} !^/sinapsi/(manifest.json)$
    RewriteRule ^(.*)$ /sinapsi/ca/$1  [L,R=301]
    RewriteRule ^$ /sinapsi/ca/        [L,R=301]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ $1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
