<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /en
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ http://localhost:4200/$1 [P,L]
    RewriteRule ^$ http://localhost:4200/ [P,L]
</IfModule>