<main class="page-content">
  <section class="container" [ngSwitch]="code">
    
    <!-- Page not found -->
    
    <div *ngSwitchDefault>
      <h1 class="h2">La pàgina no s'ha trobat</h1>
      <p>
        No s'ha pogut trobar la pàgina que demaneu.<br>
        Podeu utilitzar el <a routerLink="/catalogs">catàleg</a> per trobar
        el que busqueu.
      </p>
      <hr>
      <h1 class="h2">Página no encontrada</h1>
      <p>
        La página solicitada no se pudo encontar.<br>
        Puede usar el <a routerLink="/catalogs">catálogo</a> para encontrar
        lo que busca.
      </p>
      <hr>
      <h1 class="h2">Page not found</h1>
      <p>
        The requested page could not be found.<br>
        Use the <a routerLink="/catalogs">catalog</a> to find what you are
        looking for.
      </p>
    </div>
    
  </section>
</main>