<article class="share-form-article">
  <section class="form-group">
    <header>
      <h1 i18n>Embed in web page</h1>
    </header>
    <div class="share-options inline-form">
      <label class="search-input">
        <input type="checkbox" [(ngModel)]="searchBox">
        <span i18n>Include a search form</span>
      </label>
      <label class="height-input">
        <span i18n>Height in pixels:</span>
        <input type="text" maxlength="4" [(ngModel)]="height"
               class="form-control form-control-sm">
      </label>
    </div>
    <label class="share-input">
      <span i18n class="sr-only">Embed code</span>
      <textarea
          readonly rows="4"
          aria-describedby="share-help"
          class="form-control">&lt;iframe height="{{ height }}" style="display: block; width: 100%; border: none" src="{{ embedUrl }}"&gt;&lt;/iframe&gt;</textarea>
      <small id="share-help" class="form-text text-muted" i18n>
        Copy this code to embed the current synapse in your web page
      </small>
    </label>
  </section>
</article>
