@import "core";

// Base styles

h1 {
  font-size: 1rem;
  font-weight: 600;
  margin: .6rem 0 1rem 0;
}

label {
  width: 100%;
  font-size: .9rem;
}

input {
  font-size: .9rem;
}

textarea {
  font-family: th-font-family('monospace');
}

.form-group {
  padding: .5rem 1rem;
  background: th-gray('100');
}

.share-options {
  label {
    display: flex;
    align-items: center;
  }
  
  @include media-breakpoint-up(sm) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    .height-input {
      justify-content: flex-end;
    }
  }
}

.height-input {
  span {
    margin-right: .5rem;
  }
  
  input {
    width: 4rem;
    text-align: center;
  }
}

.search-input {
  span {
    margin-left: .5rem;
  }
}