@import "core";

// Base styles

.colorpicker {
  position: relative;
  
  .custom-select:focus {
    box-shadow: none;
  }
}


// Available colors

@each $name, $color in $th-theme-colors {
  &.#{$name} {
    background: $color;
  }
}


// Color boxes

.color-box {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  height: 100%;
}

.color-preview {
  display: inline-block;
  border: 1px solid th-gray('divider');
  margin-right: .5rem;
  min-height: 1.2rem;
  min-width: 1.2rem;
  max-height: 1.2rem;
  max-width: 1.2rem;
}

.color-placeholder {
  color: th-gray('400');
}

.colorpicker-input {
  font-weight: 400;
}

.colorpicker-input[disabled] {
  color: #6c757d;
  background-color: #e9ecef;
}


// Drop down

.colorpicker-dropdown {
  position: relative;
  display: none;
}

.colorpicker.focus {
  .colorpicker-dropdown {
    display: block;
  }
}

.colorpicker.disabled {
  .colorpicker-input {
    border: 1px solid #ced4da;
    box-shadow: none;
    pointer-events:none;
  }
}


// Drop down items

.list-group {
  overflow-y: auto;
  position: absolute;
  z-index: 9999;
  width: 100%;
  max-height: 10.6rem;
  background-color: white;
  border-radius: 0.25rem;
  border: 1px solid th-gray('200');
  box-shadow: 0px 2px 5px 0px th-gray('200');
}

.list-group-item {
  padding: 0.375rem 0.75rem;
}

.list-group-item:first-child {
  border-top: 0;
}

.list-group-item.active {
  color: inherit;
  background-color: th-gray('100');
  border-color: th-gray('200');
}

.list-group-item-action {
  cursor: pointer;
}


// Hidden input

input {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  width: 0;
  height: 0;
}
