// Breadcrumb components

.breadcrumb {
  padding: 0 !important;
  background: transparent !important;
  margin-top: 1rem;
  
  a {
    color: th-color('white');
    background: th-gray('800');
    font-size: 0.8em;
    font-weight: 600;
    padding: 0 .25em;
    
    &:hover, &:focus {
      color: th-color('white');
      text-decoration: underline;
    }
  }
  
  .breadcrumb-item {
    &:last-child a {
      color: th-gray('800');
      font-weight: 400;
      background: transparent;
      padding: 0;
    }
    
    + .breadcrumb-item::before {
      color: th-gray('800');
      content: ">";
      padding: 0 5px 0 8px;
      font-size: 0.8em;
      font-weight: 600;
    }
  }
}