// Form controls

.form-control {
  font-size: $font-size-sm;
}

.form-control-lg {
  font-size: $font-size-lg;
}

.form-control:focus {
  box-shadow: none;
  border-color: th-color('text');
}

.form-container-label {
  display: block;
  margin: 0;
}

.form-container-label > span:first-child {
  display: block;
  margin-bottom: .5rem;
}


// Typed inputs

.input-group-typed {
  position: relative;
  display: block;

  & > .form-control {
    padding-left: 2.4rem;
  }

  & > .input-group-icon {
    position: absolute;
    color: th-gray('600');
    padding: 0.28rem 0.37rem;
    pointer-events: none;
    left: 0;
    top: 0;
  }
}
