// Form controls

.form-control {
  font-size: $font-size-sm;
}

.form-control-lg {
  font-size: $font-size-lg;
}

.form-control:focus {
  box-shadow: none;
  border-color: th-color('text');
}

.form-container-label {
  display: block;
  font-size: .9rem;
  font-weight: 600;
  margin: 0;
}

.form-container-label > span:first-child {
  display: block;
  margin-bottom: .5rem;
}


// Typed inputs

.input-group-typed {
  position: relative;
  display: block;

  & > .form-control {
    padding-left: 2.4rem;
  }

  & > .input-group-icon {
    position: absolute;
    color: th-gray('text');
    font-size: 1rem;
    padding: 0.3rem 0.75rem;
    pointer-events: none;
    left: 0;
    top: 0;
  }
}


// Custom radio

.custom-control {
  &.custom-radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.375rem 0;

    .custom-control-label {
      display: inline-block;
      cursor: pointer;
      font-size: .875rem;
      width: 100%;
    }
  }
}


// Buttons

.btn[disabled] {
  cursor: not-allowed;
}
