<fieldset [formGroup]="form">

  <!-- School -->

  <ng-container *ngIf="form.get('school') as control">
    <div class="form-group">
      <label class="form-container-label">
        <span i18n>School:</span>
        <app-typeahead
          [formControl]="control"
           path="/api/schools">
        </app-typeahead>
      </label>
      <app-feedback [control]="control">
        <span i18n>Educational center of this author.</span>
      </app-feedback>
    </div>
  </ng-container>

  <!-- Municipality -->

  <ng-container *ngIf="form.get('municipality') as control">
    <div class="form-group">
      <label class="form-container-label">
        <span i18n>Municipality:</span>
        <app-typeahead
          [formControl]="control"
           path="/api/municipalities">
        </app-typeahead>
      </label>
      <app-feedback [control]="control">
        <span i18n>Municipality of this author</span>
      </app-feedback>
    </div>
  </ng-container>

  <!-- Territory -->

  <ng-container *ngIf="form.get('territory') as control">
    <div class="form-group">
      <label class="form-container-label">
        <span i18n>Territorial service:</span>
        <app-typeahead
          [formControl]="control"
           path="/api/territories">
        </app-typeahead>
      </label>
      <app-feedback [control]="control">
        <span i18n>Territorial service for this author</span>
      </app-feedback>
    </div>
  </ng-container>

</fieldset>
