<article class="sy-comment">
  <header class="sy-comment-header">
    <time datetime="x">Fa 38 minuts</time>
    <span class="sy-comment-author">
      <img alt="Author picture" i18n-alt src="https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=50">
      <span><a href="#" rel="author">Synapse</a> <span i18n>says:</span></span>
    </span>
  </header>
  <div class="sy-comment-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus
    purus sit amet metus dignissim, sit amet posuere libero. Duis aliquam ornare
    leo sagittis laoreet. Etiam faucibus velit ac nibh mollis, vitae mollis
    augue rutrum. Mauris et purus eget mauris pellentesque consectetur.</p>
  </div>
  <div class="sy-comment-actions text-right">
    <button
      (click)="delete()"
      title="Delete this comment"
      class="btn btn-sm">
      <cn-icon value="trash"></cn-icon>
      <span class="sr-only" i18n>Remove</span>
    </button>
  </div>
</article>