<div class="sy-comment-board">

  <!-- Comment form -->
  
  <div class="sy-comment-form-wrapper">
    <sy-comment-form></sy-comment-form>
  </div>
  
  <!-- Article comments -->
  
  <div *ngIf="comments?.length" class="sy-comments">
    <sy-comment *ngFor="let comment of comments">
    </sy-comment>
    
    <div class="sy-load-more">
      <button
        (click)="fetchMore()"
        type="button"
        class="btn btn-block btn-outline-primary">
        Load more comments
      </button>
    </div>
  </div>

</div>