<header role="banner">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
      
      <!-- Navbar toggle button -->
      
      <button
        [cnExpandable]="linksExp"
        type="button"
        class="navbar-toggler"
        aria-controls="toolbar-links"
        aria-label="Toggle navigation"
        i18n-aria-label>
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!-- Brand link -->
      
      <a routerLink="/" accesskey="1" class="navbar-brand">
        <span class="brand-name">
          <strong>{{ title | lowercase }}</strong>.xtec.cat
        </span>
      </a>
      
      <!-- Language links -->
      
      <div class="toolbar-locales d-none d-md-block">
        <app-locales></app-locales>
      </div>
      
      <!-- Section links -->
      
      <div class="navbar-collapse">
        <cn-expandable #linksExp id="toolbar-links">
          <ul class="navbar-nav main-navbar mr-auto">
            
            <!-- Section links -->
            
            <li routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}"
                class="nav-item">
              <a routerLink="/"
                 class="nav-link" i18n>Home</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
              <a routerLink="/tags"
                 class="d-none">Tags</a>
              <a routerLink="/synapses"
                 class="d-none">Synapses</a>
              <a routerLink="/catalogs"
                 class="nav-link" i18n>Synapses</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
              <a routerLink="/schools"
                 class="nav-link" i18n>Schools</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
              <a routerLink="/projects"
                 class="nav-link" i18n>Projects</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
              <a routerLink="/users"
                 class="nav-link" i18n>Educators</a>
            </li>
            
            <!-- User links -->
            
            <li class="nav-item d-sm-none">
              <a routerLink="/login"
                 class="nav-link" i18n>
                 <cn-icon value="lock"></cn-icon>
                 Log in
              </a>
            </li>
            
            <li class="nav-item d-sm-none">
              <cn-details>
                <cn-summary i18n>
                  <cn-icon value="user"></cn-icon>
                  Joan Sala Soler
                </cn-summary>
                <ul class="navbar-nav mr-auto">
                  <li routerLinkActive="active" class="nav-item">
                    <a routerLink="/catalogs"
                       class="nav-link" i18n>User profile</a>
                  </li>
                  <li routerLinkActive="active" class="nav-item">
                    <a routerLink="/catalogs"
                       class="nav-link" i18n>Log out</a>
                  </li>
                </ul>
              </cn-details>
            </li>
          </ul>
        </cn-expandable>
        
        <div class="nav-item d-none d-md-block" style="margin-left: auto">
          <a href="#" style="padding: .5rem; color: #fff">
            <cn-icon value="lock"></cn-icon> Log in
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>