<form role="search" (ngSubmit)="submit(input.value)">
  <div class="input-group">
    <input #input
        [value]="value || null"
        type="text"
        placeholder="Filter by one or more keywords" i8n-placeholder
        aria-label="Search" i8n-aria-label
        class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="submit">
        <cn-icon value="search"></cn-icon>
        <span class="sr-only" i18n>Search</span>
      </button>
    </span>
  </div>
</form>