<div class="page-navigation">
  <div class="container">
    <cn-breadcrumb></cn-breadcrumb>
    <app-social-links
      *ngIf="tag && !tag.deleted_at"
      [tag]="tag">
    </app-social-links>
  </div>
</div>
<article *ngIf="tag" class="page-content">
  
  <!-- Header -->
  
  <div class="page-header">
    <div class="container">
      <header>
        <h1>
          <span [hidden]="synapse.id" class="tag-hash">#</span>
          {{ synapse.name }}
        </h1>
        <p role="contentinfo" [innerHTML]="synapse.description"></p>
      </header>
      
      <aside role="search">
        <app-search
          (search)="onSearch($event)"
          [value]="browser.search">
        </app-search>
      </aside>
    </div>
  </div>
  
  <!-- Contents -->
  
  <section class="page-section">
    <div class="page-body container">
      <div class="row">
        <div class="col-lg-8">
          <app-posts-browser #browser
            [synapse]="synapse">
          </app-posts-browser>
        </div>
        <div class="col-lg-4">
          <aside role="complementary" class="synapse-blocks">
            <ng-container *ngFor="let block of blocks">
              <app-block [block]="block"></app-block>
            </ng-container>
          </aside>
        </div>
      </div>
    </div>
  </section>
</article>