<cn-overlay [open]="isOpen" (dismiss)="refuse()">
  <div class="cn-dialog-backdrop"></div>
  <div role="document" *ngIf="isOpen" class="modal-dialog" [@show]>
    <div class="modal-content">
      <div *ngIf="message.title" class="modal-header">
        <h5 class="modal-title">
          {{ message.title }}
        </h5>
        <button (click)="refuse()"
                 type="button"
                 tabindex="-1"
                 aria-hidden="true"
                 aria-label="Close" i18n-aria-label
                 class="close ml-5">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div [innerHTML]="message.text" class="modal-text"></div>
        <div *ngIf="message.type === 'prompt'"
             class="modal-input">
          <input #inputBox
            type="text"
            tabindex="1"
            (keyup.enter)="confirm()"
            [placeholder]="message['prompt'] || ''"
            class="form-control form-control-lg">
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="isCancellable(message)"
                (click)="refuse()"
                type="button"
                tabindex="2"
                class="btn btn-secondary">
          <ng-container [ngSwitch]="!!message['refuse']">
            <span *ngSwitchCase="true">{{ message.refuse }}</span>
            <span *ngSwitchDefault i18n>Cancel</span>
          </ng-container>
        </button>
        <button (click)="confirm()"
                type="button"
                tabindex="3"
                class="btn btn-primary">
          <ng-container [ngSwitch]="!!message['confirm']">
            <span *ngSwitchCase="true">{{ message.confirm }}</span>
            <span *ngSwitchDefault i18n>Ok</span>
          </ng-container>
        </button>
      </div>
    </div>
  </div>
</cn-overlay>