@import "core";

// Overwrite the default Bootstrap grid break-points

$grid-breakpoints: (
  xs: 0,
  sm: 380px,
  md: 500px,
  lg: 650px,
  xl: 800px
);

:host ::ng-deep {
  @import "~bootstrap/scss/utilities/display";
}

// Base styles

body {
  background-color: transparent;
}

#embed-container {
  position: relative;
  padding-bottom: 1rem;
  height: 100%;
}

// Synapse component

:host ::ng-deep {
  .card {
    height: 100%;
  }
  
  .card-block {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .synapse-results {
    overflow-y: auto;
  }
  
  .results-header {
    display: none !important;
  }
}
