@import "core";

// Base styles

.results-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: th-gray('400');
}

.results-toolbar {
  padding-bottom: 1rem;
}

.results-header {
  margin-bottom: 2rem;
  border-bottom: 2px dotted th-gray('divider');
}

::ng-deep .pagination-nav {
  margin-top: 2rem;
  border-top: 2px dotted th-gray('divider');
}

::ng-deep .state-message {
  border: none !important;
}
