// BASE MODULE
//
// This module imports and configures the required vendor libraries.
//

@import "base/variables";
@import "base/fonts";
@import "base/vendor";
@import "base/reset";


html {
  font-size: 16px;
  background: th-color('white');
}

aside.synapse-blocks {
  padding: 2rem 0;

  @include media-breakpoint-down(xs) {
    padding: 0;
  }
}

section {
  @include media-breakpoint-down(xs) {
    padding: 1rem 0;
  }
}


// Horizontal spacing

.sh:empty {
  display: none;
}

.sh:not(:last-child) {
  margin-right: .4em;
}

.sh:not(:first-child) {
  margin-left: .4em;
}

.sh + .sh {
  margin-left: 0;
}


// Vertical spacing

.sv:empty {
  display: none;
}

.sv:not(:last-child) {
  margin-right: .4em;
}

.sv:not(:first-child) {
  margin-left: .4em;
}

.sv + .sv {
  margin-left: 0;
}


// Development only

.mock-up {
  display: block;
  background: rgb(249, 247, 227);
  border: 1px dashed;
  border-radius: .5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  opacity: .5;
}