<div class="typeahead-box" [ngClass]="{ focus: hasFocus }">

  <!-- Autocomplete input box -->

  <div class="typeahead-input">
    <input #inputBox
      type="text"
      role="combobox"
      [(ngModel)]="keywords"
      (keydown.arrowdown)="activateNext()"
      (keydown.arrowup)="activatePrevious()"
      (keydown.enter)="toggle(activeValue)"
      (keydown.escape)="clear(); false"
      (keyup)="search(inputBox.value)"
      (focus)="focus(); $event.stopPropagation()"
      (blur)="blur(); $event.stopPropagation()"
      (input)="$event.stopPropagation()"
      (change)="$event.stopPropagation()"
      [attr.aria-expanded]="ariaExpanded()"
      [attr.aria-activedescendant]="ariaActiveDescendant()"
      [attr.aria-owns]="ariaOwns()"
      aria-multiselect="true"
      aria-autocomplete="list"
      aria-haspopup="true"
      placeholder="Type to search"
      class="form-control"
      i18n-placeholder/>
  </div>

  <!-- Choosen models -->

  <div class="typeahead-selection list-group-item">
    <div class="selection-wrapper">
      <button *ngFor="let model of value"
        [title]="model.name"
        (mousedown)="refuse(model); preventBlur($event)"
        tabindex="-1"
        class="btn btn-secondary-light badge">
        <cn-icon value="times"></cn-icon>
        <span>{{ model.name }}</span>
      </button>
      <span *ngIf="!(value?.length)" class="selection-footer" i18n>
        No items selected
      </span>
    </div>
  </div>

  <!-- Search results -->

  <div class="typeahead-results">
    <ul *ngIf="collection"
        [id]="ariaOwns()"
        role="listbox"
        class="list-group">
      <li *ngFor="let model of collection"
          (mousedown)="toggle(model); preventBlur($event)"
          [attr.aria-selected]="ariaSelected(model)"
          [ngClass]="{ active: isActive(model) }"
          class="list-group-item list-group-item-action">
        <div class="custom-control custom-checkbox">
          <input type="checkbox"
                 [id]="ariaOptionId(model)"
                 [attr.checked]="isChoice(model) ? 'true' : null"
                 (change)="$event.stopPropagation()"
                 tabindex="-1"
                 class="custom-control-input">
          <label [for]="ariaOptionId(model)"
                 class="custom-control-label">
            {{ model.name }}
          </label>
        </div>
      </li>
      <li class="text-muted typeahead-footer list-group-item">
        <small *ngIf="!hasResults() && request?.search" i18n>
          No results could be found
        </small>
        <small *ngIf="hasResults()" i18n>
          Showing {{ collection.to}} of {{ collection.total }} results
        </small>
      </li>
    </ul>
  </div>

</div>
