<div class="typeahead-box" [ngClass]="{ focus: hasFocus }">

  <!-- Autocomplete input box -->

  <div class="typeahead-input">
    <input #inputBox
      type="text"
      role="combobox"
      [(ngModel)]="keywords"
      (keydown.arrowdown)="activateNext(); false"
      (keydown.arrowup)="activatePrevious(); false"
      (keydown.pagedown)="next(); false"
      (keydown.pageup)="previous(); false"
      (keydown.enter)="choose(activeValue); false"
      (keydown.escape)="clear(); false"
      (keyup)="search(inputBox.value); false"
      (focus)="focus()"
      (blur)="blur()"
      (input)="$event.stopPropagation()"
      (change)="$event.stopPropagation()"
      [placeholder]="placeholder"
      [attr.aria-expanded]="ariaExpanded()"
      [attr.aria-activedescendant]="ariaActiveDescendant()"
      [attr.aria-owns]="'#' + ariaOwns()"
      aria-autocomplete="list"
      aria-haspopup="true"
      class="form-control"/>
  </div>

  <!-- Search results -->

  <div class="typeahead-results">
    <ul *ngIf="collection"
        [id]="ariaOwns()"
        role="listbox"
        class="list-group">
      <li *ngFor="let model of collection"
          (mousedown)="choose(model)"
          [id]="ariaOptionId(model)"
          [attr.aria-selected]="ariaSelected(model)"
          [ngClass]="{ active: isActive(model) }"
          class="list-group-item list-group-item-action">
        {{ model.name }}
      </li>
      
      <!-- Pagination and footer -->
      
      <li class="typeahead-footer text-muted list-group-item">
        <small *ngIf="!hasResults() && request?.search" i18n>
          No results could be found
        </small>
        <div *ngIf="hasResults()" class="typeahead-pagination">
          <small i18n>
            Showing {{ collection.from | number }} to
            {{ collection.to | number }} of
            {{ collection.total | number }} results
          </small>
          <span>
            <button
              title="Previous page" i18n-title
              (mousedown)="previous(); preventBlur($event)"
              [disabled]="collection.from <= 1"
              class="btn btn-sm btn-light">
              <cn-icon value="chevron-left"></cn-icon>
              <span class="sr-only" i18n>Previous</span>
            </button>
            <button
              title="Next page" i18n-title
              (mousedown)="next(); preventBlur($event)"
              [disabled]="collection.total <= collection.to"
              class="btn btn-sm btn-light">
              <cn-icon value="chevron-right"></cn-icon>
              <span class="sr-only" i18n>Next</span>
            </button>
          </span>
        </div>
      </li>
    </ul>
  </div>

</div>
